<!doctype html>
 <html>
<head>

    <title>Gifted - Find The Perfect Gift</title>
    {% load staticfiles%}

	<link rel="shortcut icon" href="{% static 'gifted/style/blue-gift.ico' %}" />
	<!-- Gifted-UI CSS-->
	<link href="{% static 'gifted/style/intro.css' %} " rel="stylesheet">
	<link href="{% static 'gifted/style/gift-list.css' %} " rel="stylesheet">

	<!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'gifted/flatfy-ui/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom Google Web Font -->
    <link href="{% static 'gifted/flatfy-ui/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="{% static 'gifted/flatfy-ui/css/general.css' %}" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="{% static 'gifted/flatfy-ui/css/custom.css' %} " rel="stylesheet">
    <link href="{% static 'gifted/flatfy-ui/css/owl.carousel.css' %} " rel="stylesheet">
    <link href="{% static 'gifted/flatfy-ui/css/owl.theme.css' %} " rel="stylesheet">
    <link href="{% static 'gifted/flatfy-ui/css/style.css' %} " rel="stylesheet">
    <link href="{% static 'gifted/flatfy-ui/css/animate.css' %} " rel="stylesheet">

	<!-- Magnific Popup core CSS file -->

	<link rel="stylesheet" href="{% static 'gifted/flatfy-ui/css/magnific-popup.css' %}">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>  <!-- Modernizr /-->
	<script src="{% static 'gifted/flatfy-ui/js/modernizr-2.8.3.min.js' %}"></script>  <!-- Modernizr /-->

	<!-- JavaScript -->
	<script src="{% static 'gifted/flatfy-ui/js/jquery-1.10.2.js' %}"></script>
	<script src="{% static 'gifted/flatfy-ui/js/bootstrap.js' %}"></script>
	<script src="{% static 'gifted/flatfy-ui/js/owl.carousel.js' %}"></script>
	<script src="{% static 'gifted/flatfy-ui/js/script.js' %}"></script>


	<!-- Gifted-UI JavaScript -->
	<script src="{% static 'gifted/views/main/GoogleAuth.js' %}"></script>
	<script src="{% static 'gifted/views/main/NavBar.js' %}"></script>
	<script src="{% static 'gifted/views/dialogs/Dialogs.js' %}"></script>
	<script src="{% static 'gifted/views/utils/Utils.js' %}"></script>
	<script src="{% static 'gifted/views/main/Views.js' %}"></script>
	<script src="{% static 'gifted/dependencies/w3data.js' %}"></script>
	<script src="{% static 'gifted/dependencies/lodash.js' %}"></script>

	<!-- StikyMenu -->
	<script src="{% static 'gifted/flatfy-ui/js/stickUp.min.js' %}"></script>
	<script type="text/javascript">
		jQuery(function($) {
			$(document).ready( function() {
				$('.navbar-default').stickUp(); // stick nav bar up as default
			});
		});

	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="{% static 'gifted/flatfy-ui/js/jquery.corner.js' %}"></script>
	<script src="{% static 'gifted/flatfy-ui/js/wow.min.js' %}"></script>
	<script>
		new WOW().init();
	</script>
	<script src="{% static 'gifted/flatfy-ui/js/classie.js' %}"></script>
	<!--<script src="flatfy-ui/js/uiMorphingButton_inflow.js"></script>-->
	<!-- Magnific Popup core JS file -->
	<script src="{% static 'gifted/flatfy-ui/js/jquery.magnific-popup.js' %}"></script>

	<!-- Google Sign-In API -->
	<script src="https://apis.google.com/js/api:client.js"></script>
	<script>
		var GoogleAuthInit = function() {

			//TODO implement storing the user's session data in session/local storage (for refresh, etc.)
			gapi.load('auth2', function(){
				// Retrieve the singleton for the GoogleAuth library and set up the client.
				auth2 = gapi.auth2.init({
					client_id: '905317763411-2rbmiovs8pcahhv5jn5i6tekj0hflivf.apps.googleusercontent.com',
				});
				MainView.initMainView();

			});
		};
	</script>

</head>

<body id="home">

<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" id="home-button" href="#home">Gifted</a>
				<a id="welcome" href="#account"></a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="menuItem" id="search-button" style="display: none;"><a href="#search">Search Gift</a></li>
					<li class="menuItem" id="upload-button" style="display: none;"><a href="#upload-gift">Upload Gift</a></li>
                    <li class="menuItem" id="about-button"><a  onclick="AboutView.showAboutView()" href="#about">About Us</a></li>
                    <li class="menuItem" id="logout-button" style="display: none;"><a>Log Out&nbsp;&nbsp;<img class="logout-door" src="{% static 'gifted/img/logout-door.svg' %}"></a></li>
                    <li class="menuItem" id="login-button"><a>Log In&nbsp;&nbsp;<img class="google-icon" src=" {% static 'gifted/img/google-icon.png' %}"></a></li>

                </ul>
			</div>
		</div>
	</nav>

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- FullScreen -->
	<div w3-include-html=" {% static 'gifted/inner-templates/searchDialog.html' %}"></div>
	<div w3-include-html=" {% static 'gifted/inner-templates/uploadDialog.html' %}"></div>
	<div w3-include-html=" {% static 'gifted/inner-templates/errorDialog.html' %}"></div>

    <div class="main-container">

		<!--This will change and other templates will be injected to this div-->
    </div>

	 <!--About Us-->
	<div id="about" class="content-section-b" style="border-top: 0">

	</div>
</body>
<footer class="bottom-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
                <h3 class="footer-title">Gifted</h3>
                <li> All Rights Reserved - Gifted </li>
                <li>Go to: <a href="https://github.com/AwesomeOwls/Gifted" target="_blank">Our Github</a><img class="owl-logo" src="{% static 'gifted/img/owl-logo.png' %}"></li>

				<!-- LICENSE -->
				UI Template :<a rel="cc:attributionURL" href="http://www.andreagalanti.it/flatfy" target="_blank"
								property="dc:title">Flatfy Theme </a> by
				<a rel="dc:creator" href="http://www.andreagalanti.it"
				   target="_blank"
				   property="cc:attributionName">Andrea Galanti</a>
			</div> <!-- /col-xs-7 -->
		</div>
	</div>
</footer>

</html>
<script>
	GoogleAuthInit();
	w3IncludeHTML();
</script>

