body {
  overflow: hidden!important;
}

.main-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.menuItem * {
  cursor: pointer;
}

.authors {
  width: 120px;
  height: 120px;
}
/*TODO when implementing convertion from sass to css move this into menuItem*/
.logout-door, .google-icon {
  height: 15px;
  width: 15px;
  align-self: center;
}

.owl-like {
  height: 25px;
  width: 25px;
}

.linkedin-icon {
  align-self: center;
  width: 40px;
  padding-left: 10px;
}
 /*TODO FIX THIS when fixing sass to css issues*/
.owl-logo {
  align-self: center;
  width: 40px;
  padding-left: 10px;
}

   /*TODO when implementing convertion from sass to css move this into menuItem*/
#login-button {
  display: flex;
}

.navbar-header {
  display: flex;
}

#welcome {
  display: flex;
  align-items: center;
  font-family: arvo;
  padding-left: 50px;
}

#welcome > {
  cursor: pointer;
}

#home-button {
  cursor: pointer;
}

.user-img {
  width: 25px;
  height: 25px;
}
.bottom-bar {
  background-color: #34495e;
  min-height: 190px;
}

.input-field {
  display: flex;
  padding-left: 10px;
}
.input-field > label {
  align-self: center;
}

.error-message {
  font-size: 35px;
  font-weight: bold;
}

.modal-header {
  background-color: rgba(46, 122, 156, 0.39);
}
.error-header {
  background-color: rgba(255, 0, 0, 0.46);
}
.success-header {
  background-color: rgba(45, 255, 18, 0.46);
}

.close, .close:hover {
  color: #000000!important;
}

.user-gift {
  border-top: black;
  border-top-style: dotted;
}

.error-img {
  height: 200px;
}

.btn-like {
  color: white;
  background-color: #0a5484;
  font-size: 10px!important;
  padding: 2px 2px 2px 5px!important;
}
.btn-dislike {
  color: white;
  background-color: #d21c1c;
  font-size: 10px!important;
  padding: 2px 2px 2px 5px!important;
}

p.error {
  color: #e74c3c;
}

.help-us {
  height: 36px!important;
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
}

.list-group-image {
  height: 140px!important;
}

.dislike-glow {
  box-shadow: 3px -1px 24px rgba(210, 28, 28, 0.44);
}
.like-glow  {
  box-shadow: 3px -1px 24px rgba(10, 84, 132, 0.6);
}

.stars {
  display: flex;
  align-items: flex-end;
}

.profile {
  height: 250px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.profile > h3 {
  color: black;
}
.progress.progress-rank-profile {
  width: auto;
  background: rgba(0, 0, 0, 0.1)!important;
  margin: 20px 100px 0 100px;
  align-self: center;
  height: 50px;
}
/*.thumbnail {*/
  /*!*background-image: url(../img/background1.jpg);*!*/
  /*background-size: cover;*/
/*}*/

.progress.progress-rank{
  background: rgba(0, 0, 0, 0.1)!important;
  width: 160px;
  margin-bottom: 0px!important;
  align-self: center;
  margin-left: 5px;
  height: 25px;
}

.bronze-gifter,.silver-gifter,.gold-gifter,.diamond-gifter{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-size: cover;
}
.bronze-gifter{
  background-color: #CD7F32!important;
  /*background-image: url(../img/bronze.jpeg);*/

}
.silver-gifter{
  background-color: #C0C0C0!important;
  /*background-image: url(../img/silver.jpeg);*/
}
.gold-gifter{
  background-color: #D4AF37!important;
  /*background-image: url(../img/gold.jpeg);*/
}
.diamond-gifter {
  background-color: #e9b5bb !important;
  /*background-image: url(../img/diamond.jpeg)!important;*/
}

.faq-container{
  position: absolute;
  left: 50px;
  max-height: 75%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.faq-question {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: xx-large;
}

.faq-answer-container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
    text-align: left;
    font-size: x-large;
}

.card-button {
  height: 100px;
  margin-top: 10px;
  cursor: pointer;
}

#profile-warning {
  color: #ffc384;
  font-weight: bold;
  width: 400px;
  margin: auto;
  line-height: inherit;
}

#profile-picture,.user-img {
  border-radius: 50px;
}

.disabled-search-btn  {
  background-color: rgb(219, 224, 225)!important;
}

.disabled-search-btn > a:hover {
  cursor: default;
  color: rgb(168, 165, 165)!important;
}

.disabled-search-btn > a {
  cursor: default;
  color: rgb(168, 165, 165)!important;
}

.description-row {
  word-wrap: break-word;infinidat 123456
  
}